*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    background: linear-gradient(rgb(0,150,136) 15%, rgb(218,219,212) 15%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: 'Lato', sans-serif;
}

.container{
    height: 95%;
    width: 82%;
    margin: auto;
    background-color: white;
}
/* part-left */
#part-left{
    height: 100%;
    width: 37%;
    border-right: 1px solid rgb(221, 221, 221);
    float: left;
}

/* account */
.account{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

#photo-account{
    width: 10%;
}

#photo-account img{
    width: 90%;
    border-radius: 50%;
    cursor: pointer;
}

#name-account{
    width: 70%;
    font-size: 20px;
    cursor: pointer;
}

#icons-account{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#icons-account i{
    width: 100%;
    margin: 0 5px;
    font-size: 27px;
    color: rgb(177, 177, 177);
    cursor: pointer;
}
/* account */
/* notifications */
.notifications{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: rgb(142,218,252);
}

.circle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bell-slash{
    color: rgb(142,218,252);
}

.column{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.column h5{
    font-weight: 500;
    margin-bottom: 2px;
}

.column p{
    font-size: 13px;
    color: rgb(111, 133, 144);
    cursor: pointer;
}
/* notifications */
/* all-chat */
.all-chat{
    width: 100%;
    height: calc(100% - 16%);
}

.search-chat{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    border: none;
}

.search-chat i{
    color: rgb(177, 177, 177);
    font-weight: 600;
    margin-left: 32px;
    cursor: pointer;
}

.search-chat input{
    border: none;
    margin-left: 32px;
    width: 80%;
    padding: 8px;
}

.picture-contact img{
    width: 55px;
    border-radius: 50%;
    margin: 10px 20px;
    cursor: pointer;
}

.signle-chat{
    display: flex;
    justify-content: flex-start;
}

#name-contact{
    margin-top: 10px;
}

#previous-message{
    margin-top: 3px;
    font-size: 12px;
    color: rgb(161, 161, 161);
}

.info-message{
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#date-message{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(161, 161, 161);
}

.chat-bottom{
    height: calc(100% - 8%);
    overflow-y: scroll;
}
/* all-chat */
/* part-left */

/* part-right */
#part-right{
    width: calc(100% - 37%);
    height: 100%;
    float: left;
}

.superior-chat{
    width: 100%;
    height: 8%; 
    display: flex;
}

.image-users{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-users img{
    width: 80%;
    border-radius: 50%;
    margin-left: 25px;
}

.info-contact{
    width: 78%;
    height: 100%;
    justify-content: center;
    margin-left: 30px;
}

.icons-contact{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(177, 177, 177);
    cursor: pointer;
    font-size: 27px;
    margin-right: 10px;
}

#name-contact-chat{
    font-size: 18px;
    color: black;
    margin-bottom: 2px;
}